apiVersion: apps/v1
kind: Deployment
metadata:
  name: apigateway
  namespace: commercehub
spec:
  replicas: 1
  selector:
    matchLabels:
      app: apigateway
  template:
    metadata:
      labels:
        app: apigateway
    spec:
      containers:
        - name: apigateway
          image: adityazaware/apigateway
          imagePullPolicy: Always
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: docker
            - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
              value: http://eureka:8761/eureka
          ports:
            - containerPort: 9090
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 9090
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 9090
            initialDelaySeconds: 30
            periodSeconds: 15

---


apiVersion: v1
kind: Service
metadata:
  name: apigateway
  namespace: commercehub
spec:
  selector:
    app: apigateway
  type: NodePort
  ports:
    - port: 9090
      targetPort: 9090
      nodePort: 30090
