apiVersion: apps/v1
kind: Deployment
metadata:
  name: phpmyadmin
  namespace: commercehub
spec:
  selector:
    matchLabels:
      app: phpmyadmin
  template:
    metadata:
      labels:
        app: phpmyadmin
    spec:
      containers:
        - name: phpmyadmin
          image: phpmyadmin/phpmyadmin
          env:
            - name: PMA_HOST
              value: mysql
            - name: MYSQL_ROOT_PASSWORD
              value: root
          ports:
            - containerPort: 80